.card-img-top {
    width: 100%;
    height: 200px; /* Ajusta según tus preferencias */
    object-fit: contain;
}

.card {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
